* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
}
.form__label {
  display: block;
  margin-bottom: 8px;
}
.form__input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}
.form__input.edit {
  margin: auto 0;
}
.form__input.disable {
  background: transparent;
  border: none;
}
.form__button {
  background-color: #4caf50;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
}
.form__button:hover {
  background-color: #45a049;
}

.data-table {
  border-collapse: collapse;
  width: 95%;
  margin: 0 auto;
}
.data-table .header-cell {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  background-color: #f2f2f2;
}
.data-table .data-cell {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.select-board {
  margin-left: 50px;
  margin-top: 20px;
}
.select-board h1 {
  margin-bottom: 20px;
}
.select-board .select-board-block {
  display: flex;
  width: 30%;
  justify-content: space-between;
}
.select-board .select-board-block .small-board {
  border: 1px solid black;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.4s;
}
.select-board .select-board-block .small-board:hover {
  transform: scale(1.5);
}
.select-board .select-board-block .small-board.selected {
  border: 5px solid rgba(4, 74, 180, 0.5);
}

.big-board {
  max-width: 100vw;
  border: 1px solid black;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-button {
  background-color: #ffffff;
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 6px 12px;
  cursor: pointer;
  color: #333;
  margin: 10px;
  transition: all 0.4s;
}
.modal-button:hover {
  background-color: brown;
}
.modal-title {
  color: black;
  margin: 0;
  line-height: 1;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
}
.modal-top-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-img {
  width: 30%;
  height: 30%;
  object-fit: cover;
  margin-top: 20px;
}
.modal-close {
  position: absolute;
  right: 20px;
  cursor: pointer;
  background: transparent;
  border: none;
  transition: all 0.4s;
  font-size: 20px;
}
.modal-close:hover {
  transform: scale(1.5);
}
.modal-input-box {
  width: 100%;
}
.modal-input-block {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.error-message {
  color: #d9534f;
  background-color: #f2dede;
  border: 1px solid #d9534f;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

/*# sourceMappingURL=index.css.map */
